#                                           Data Science Tools and Ecosystem

In this notebook we summarize what we have studied about Data Science Tools

**Objectives:**
- Popular languages for Data Science
- Popular libraries for Data Science
- examples of evaluating arithmetic expressions

The most popular languages used by Data Scientists are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries by Data Scientist are:
1. MatPotLib
2. NumPy
3. Pandas
4. PyTorch
5. Scikit-learn

|Data Science Tools|
|-|
|RStudio|
|Jupiter notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
round(200/60 ,1)

3.3

## Author
Nazar